@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department;

<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This department does not contain any courses</p>
}
else
{
  <h4>Courses the department contains:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Course.Name</li>
      @using (Html.BeginForm("DeleteCourse", "Departments"))
      {
        @Html.Hidden("joinId", @join.DepartmentCourseId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}
@if (@Model.JoinStudentDepartment.Count == 0)
{
  <p>This student does not belong to any department</p>
}
else
{
  <h4>Students the departments belongs to:</h4>
  <ul>
    @foreach (var join in Model.JoinStudentDepartment)
    {
      <li>@join.Student.Name</li>
      @using (Html.BeginForm("DeleteStudent", "Departments"))
      {
        @Html.Hidden("joinId", @join.StudentDepartmentId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to departments", "Index")</p>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.DepartmentId })</p>