@* @{
  Layout = "_Layout";
  }

  @model BestRestaurants.Models.Restaurant

  <h4>Add a new restaurant</h4>
  @using (Html.BeginForm())
  {
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.MichelinStars)
  @Html.TextBoxFor(model => model.MichelinStars)
  <input type="submit" value="Add new restaurant" />
  }
  <p>@Html.ActionLink("Show all restaurants", "Index")</p> *@